<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="<%= @current_website.name %>">
    <meta name="author" content="<%= @current_website.name %>">
    <title>Welcome to <%= @current_website.name %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-sky-50 links">
    <header>
      <%= render(Themes::Links::HeaderComponent.new(header: @current_website.headers.active_header)) do |c| %>
        <%= c.with_banner(website: @current_website)%>
      <% end %>
    </header>

    <main>
      <%= render "shared/flash_notification" %>
      <%= yield %>
    </main>

    <%= render(Themes::Links::FooterComponent.new(website: @current_website)) %>
  </body>
</html>
